.header {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo{
    color:green;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 1000;
    letter-spacing: 10px;
  }
}