.todo-input {
  height: 40px;
  width: 300px;
  border-color: rgb(0, 2, 128);
}

.todo-btn {
  height: 40px;
  width: 60px;
}

ul {
  list-style: none;
}

.todo-btn {
  color: white;
  background-color: rgb(9, 0, 128);
  border: none;
}