.todo {
  border: 1px solid rgb(15, 0, 82);
  background-color: rgb(223, 235, 253);
  margin: 0 auto 5px;
  padding: 20px 10px;
  width: 600px;
  display: flex;
  justify-content: space-between;

  &__item {
    font-size: 1.6em;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 40px;
  }
}

.delete-btn,
.complete-checkbox {
  color: white;
  background-color: rgb(0, 13, 128);
  border: none;
  height: 40px;
  width: 40px;
}

.complete-checkbox {
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}

